/*--------------
    RESET
---------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------
    COMMONS
---------------*/
body{
    height: 100vh;
    background: linear-gradient(
        #009688 0%, 
        #009688 15%,
        #DBDBD2 15%,
        #DBDBD2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header-aside, .header-main{
    height: 75px;
    background-color: #eaeaea;
}

.icons-header {
    font-size: 22px;
    color: #b1b1b1;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.icons-header i{
    padding: 0 10px;
}

.avatar-img{
    height: 60px;
    border-radius: 50%;
}
/*--------------
    MAIN
---------------*/
#app{
    width: 1800px;
    height: calc(100vh - 80px);
    background-color: #fff;
    display: flex;
}

.chat-container{
    width: 65%;
    border-left: 1px solid #d6d6d6;
    display: flex;
    flex-direction: column;
}
/*aside*/

aside{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.header-aside{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
}

.user-info{
    width: 50%;
    display: flex;
    align-items: center;
}

.notifications{
    height: 80px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.notifications p{
    padding: 0 5px;
}

.notifications a{
    color: #4f7485;
}

.notifications i{
    color: #8EDAFC;
    background-color: #fff;
    font-size: 23px;
    padding: 10px;
    border-radius: 50%;
}

.contact-search{
    height: 60px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 7px;
}

.search{
    height: 40px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
}
.search i{
    color: #b6b9bb;
    padding: 0 40px;
    font-size: 19px;
}
.search-input{
    height: 40px;
    border: 1px solid #f5f5f5;
    flex-grow: 1;
    padding: 0 15px;
}

.contacts-list{
    overflow-y: auto;
}

.contact{
    height: 90px;
    border: 1px solid #f5f5f5;
    display: flex;
    padding: 15px;
    transition: background-color;
}

.contact img {
   align-items: center; 
}

.hour{
    font-size: 13px;
    color: #b6b9bb;
}
.name-contact{
    flex-grow: 1;
    padding: 0 20px;
    font-size: 14px;
}

.name-contact span{
    color: #b6b9bb;
}

/*main container*/
.header-main{
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.main-chat{
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    padding: 50px;
    overflow-y: auto;
}

.main-chat .hour{
   margin: 40px 5px 0px 80px;
}

.chat-typing-area{
    height: 80px;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chat-input{
    width: 900px;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.chat-typing-area i{
    color: #6b7376;
    font-size: 28px;
    padding: 0 40px;
}

.message{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 15px;
    width: fit-content;
    background-color: #fff;
}

.sent{
    background-color: #d5f9ba;
    margin-left: auto;
}

.received{
    background-color: #fff;
}

.text{
    padding: 20px;
}

/*--------------
    EFFECTS
---------------*/
.contact:hover{
    background-color: #e9ebeb;
}